batch-processing-poc1/src/main/mule/batch-processing-poc1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="ae9db7ad-7b03-40a6-902c-c5952c51417b" >
		<file:connection workingDir="D:\contactInput" />
	</file:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="85e62d63-c5eb-44fd-bdfb-4ec35ad0e5e3" >
		<salesforce:basic-connection username="beauty@caelius.com" password="Sureshmishra1971@" securityToken="bnZU3hcSTfi44JiGDSJgPAlH" />
	</salesforce:sfdc-config>
	<flow name="batch-processing-poc1Flow" doc:id="3b91d195-6196-4625-9a8c-0c8da2cdd140" >
		<file:listener doc:name="On New or Updated File" doc:id="8132b7fb-8008-44ab-8f18-6788adfced4e" config-ref="File_Config" directory="D:\contactInput\Contact">
			<scheduling-strategy >
				<fixed-frequency timeUnit="SECONDS" frequency="2000"/>
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="746fae9f-2b29-4603-9a25-6ba5f9592cae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batch-processing-poc1Batch_Job" doc:id="c8647ee9-404b-41a2-8d62-5717f638a07b" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="0f23a965-16cb-4fe7-a1b7-ebc0c37ac9f9" >
					<ee:transform doc:name="Transform Message" doc:id="298d4ae2-7a25-4f80-b57e-3b39632c4922" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	Email__c:payload.Email,
	FirstName__c:payload.FirstName,
	LastName__c:payload.LastName,
	Account_Name__c:payload.AccountName,
	Phone__c:payload.Phone
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="9227211a-ddcc-4856-a2a7-d09fdafe9d87" size="2">
						<salesforce:create doc:name="Create" doc:id="aa11e2e9-3695-4bd7-bac7-da9c6f528bb7" config-ref="Salesforce_Config" type="Contact__c"/>
						<ee:transform doc:name="Transform Message" doc:id="d0bc3012-337a-4fea-a213-bdffa2b6d515" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="e3f57253-8362-4e0b-bc86-887d6437a0e5" message="#[payload]"/>
						<logger level="INFO" doc:name="Logger" doc:id="20324109-bd5a-4cd3-93ba-636ccaa172ea" message="------------------------------------------------------------------------------------------------------------------------------------------------"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="c4f63f19-28fd-42e1-92df-c1d4dcbe7b84" message="Task Completed"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
